/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    direction: rtl;
    background: #0f172a;
    color: white;
}

/* ===== NAVBAR ===== */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #020617;
}

nav h2 {
    color: #38bdf8;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* ===== HEADER ===== */
header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, #1e0b38, #0066ff);
}

header h1 {
    font-size: 40px;
}

header p {
    margin-top: 10px;
}

/* ===== BUTTON ===== */
.btn {
    background: #38bdf8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}

/* ===== CARDS ===== */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* الكارت */
.card {
    background: #1e293b;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;

    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

/* 🔥 Hover احترافي */
.card:hover {
    transform: translateY(-12px) scale(1.06);

    box-shadow:
        0 0 15px rgba(0,255,255,0.6),
        0 0 30px rgba(0,102,255,0.5),
        0 0 45px rgba(157,0,255,0.4);
}

/* الصورة */
.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.35s ease;
}

.card:hover img {
    transform: scale(1.1);
}

/* ===== FORM ===== */
form {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

input, select, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* ===== BACKGROUND ===== */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ===== RESPONSIVE ===== */
@media(max-width: 600px){
    header h1 { font-size: 25px; }
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none; /* 👈 دي أهم سطر */
}